@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;1,400&display=swap');

:root{
    --color-DesaturatedRed: hsl(0, 36%, 70%);
    --color-softRed: hsl(0, 93%, 68%);
    --color-DarkGrayishRed: hsl(0, 6%, 24%);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family:'Josefin Sans', sans-serif; ;
}
body{
    max-width: 375px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    transition: 1.5s;
    text-align: center;
}
header{
    width: 100%;
    height: 90px;
    display:flex;
    justify-content: start;
    align-items: center;
}

.logo-header{
    margin-left: 2rem;
    width: 110px;
}
picture{
    width: 100%;
}
h1,p,input::placeholder{
color:var(--color-DesaturatedRed);
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 0.7rem;
    
}
span{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-DarkGrayishRed);
    
}

p{
    margin-top: 1rem;
    line-height: 1.2rem;
    font-size: 0.82em;
    font-weight: 400;
    width: 300px;
    text-align: center;
    margin-left: 30px;
}
input{
    margin-top: 2rem;
    border-radius: 30px;
    width: 300px;
    height:50px;
    border: 1px solid var(--color-DesaturatedRed);
    
}
input::placeholder{
    position: relative; left: 25px;
}

form{
    position: relative;
    margin-bottom: 50px;
}
button{
    width: 70px;
    height: 50px;
    border-radius: 1.6rem;
    border:none;
    background: linear-gradient(135deg,  hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    position: absolute;
    z-index: 10;
    margin-top: 32px;
    margin-left:-61px;
    transition: 0.5s;
    box-shadow: 0px 10px 30px 1px var(--color-DesaturatedRed);
}
button:hover{
    background: linear-gradient( 135deg,  hsl(0, 0%, 100%),  hsl(0, 80%, 86%));
    transform: translate(20px);
    
}
.error-form{
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 75%;
    background-size: 18px;
    border: 2px solid var(--color-softRed);
   }
.msj-error{
    color:red;
    font-size: 14px;
    display: block;
    margin-top: 2px;
}
 
@media all and (min-width:601px ){

body{
    max-width: 1440px;
    flex-direction: row;
}
main{
    width: 1070px;
    height: 620px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-desktop{
    height: 620px;
    float: right;
    margin-right: -290px;
}

.logo-header{
  position: absolute;
  top: 50px;
  left: 50px;
}

h1{
font-size: 3rem;
 text-align: start;
 width: 300px;
 margin-left: 80px;
 margin-top: 100px;
 

}
p{
 width: 350px;
 margin-top: 30px;
 text-align: start;
 margin-left: 80px;
}

form{
    margin-left: 80px;
    margin-top: 30px;


}
input{
    width:350px;
    height: 40px;    
    
}
button{
    height: 40px;
}


}